{% extends 'master.html' %}

{% block body %}
<div class="container" style="margin-bottom:20px">
    <div class="col-sm-4 col-sm-offset-1" style="margin-left:380px">
        <div class="login-form"><!--login form-->
            <h1>Reset Password</h1>
            <form method="post">
            {% csrf_token %}
                {{form}} 
                <button type="submit" class="btn btn-default" style="width:355px">Send Confirmaton Link</button>
            </form>
        </div><!--/login form-->
    </div>
</div>
{% endblock %}